@charset "UTF-8";

/* versao mobile first*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
html {
    background-image: linear-gradient(to top, #700256 50%,#3D1156 ) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: #700256;*/
    
    
    
}
header {
    background-color: #340252;
    padding-top: 10px;
    color: #ffff00;
}
header > h1 {
    text-align: center;
    font-size: 3em;
    padding: 5px;
    text-shadow: 4px 2px 6px black;
}
header > p {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    text-shadow: 2px 2px 6px black;
}
nav {
    display: none;
    
}
nav > ul {
    list-style-type: none;
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color:#59024B ;
    color: #ffff00;
    border: 1.5px solid #22001c;
    font-size: 20px;
    box-shadow: 1px 1px 4px 1px  black;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
}
nav > ul > li > a:hover {
    background-color:#96057e ;
}
span#burguer {
    display: block;
    text-align: right;
    background-color: black;
    color: #59024B;
    padding: 10px;
    border-radius: 2px;  
}
span#burguer:hover {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
   margin-bottom: 20px;
}
article > p {
    color: white;
    font-size: 20px;
    padding: 10px;
    
}
article > h1 {
    color:#ffff00;
    font-size: 3em;
    padding: 10px;
    background-image: linear-gradient(to right, #ffa60094, transparent);
    border-radius: 15px 0px 0px 0px;
    
}

section {
    background-color:rgba(0, 0, 0, 0.404);
    height: 100%;
    width: 95%;    
    border-radius: 15px;
    
    
}
.container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 40px;
    
}
.noku {
    color: rgb(255, 12, 12);
}
.bg {
    background-color: rgba(53, 0, 0, 0.384);
    margin-bottom: 20px;
}
.noku-zero {
    display: block;
    
    
    margin-left: auto;
    margin-right: auto;
    
    height: 250px;
    width: 200px;
    
    
}


.lista {
    display: block;
    margin-left: 6%;
    margin-bottom: 6%;
    font-size: 20px;
    color: white;  
    font-weight: 600;
}
.nokup {
color:red ;
}
.nokuq {
color:rgb(0, 170, 0) ;
}
.nokub {
color: yellow;
}
.nokum {
color: white;
}
.nokupi {
color:rgb(0, 121, 0) ;
}
.noku3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 320px;
    margin-bottom: 40px;
}
.noku-drink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 320px;
}
.container2 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 40px;
    
}
.container2 > p {
    margin: 10px;
    margin-right: 0px;
}
.m {
    font-size: 15px;
}
footer {
    background-color: #340252;
    padding: 4px;
    color: #ffff00;
    text-align: center;
    
}
footer > p {
    margin: 5px;
    
    
}



